<div class="toast-container">
  @for (t of toast.toasts(); track t.id) {
    <div class="toast toast-{{ t.type }}">
      <span class="material-icons-round toast-icon">{{ iconOf(t.type) }}</span>
      <div class="toast-content">
        <div class="toast-title">{{ t.title }}</div>
        <div class="toast-message">{{ t.message }}</div>
      </div>
      <button class="toast-close" type="button" (click)="toast.remove(t.id)">
        <span class="material-icons-round" style="font-size:18px;">close</span>
      </button>
    </div>
  }
</div>
